@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* @import url("../public/assets/images/1900x700.png"); */

body {
  font-family: "Roboto", sans-serif;
}

label {
  font-size: 0.7rem;
}

input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.6rem;
}

body {
  background-color: #9a616d;
}

.welcomDiv {
  flex: 0 0 58%;
  max-width: 58%;
}

.loginDiv {
  flex: 0 0 40%;
  max-width: 45%;
}

/* .vvvDiv {
  background-image: url("../public/assets/images/1900x700.png");
} */
